<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Verseny: <span th:text="${raceName}"></span></h1>

<table>
    <thead>
    <tr>
        <th>Név</th>
        <th>Idő</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="result : ${results}">
        <td th:text="${result.runner.name}"></td>
        <td th:text="${result.timeInMinutes}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
